footer.page-footer.text-center.font-small.mt-4.wow.fadeIn
  .pt-4
    a.btn.btn-outline-white(href='/create', role='button')
      | Załóż własnego bloga
      i.fa.fa-graduation-cap.ml-2
  hr.my-4
  .pb-4
    a(href='#')
      i.fa.fa-facebook.mr-3
    a(href='#')
      i.fa.fa-twitter.mr-3
    a(href='#')
      i.fa.fa-youtube.mr-3
    a(href='#')
      i.fa.fa-google-plus.mr-3
    a(href='#')
      i.fa.fa-dribbble.mr-3
    a(href='#')
      i.fa.fa-pinterest.mr-3
    a(href='#')
      i.fa.fa-github.mr-3
    a(href='#')
      i.fa.fa-codepen.mr-3
  .footer-copyright.py-3
    | © 2018 Copyright:
    a(href='https://dblog.pl')  dblog.pl
    |. Platforma należy do marki 
    a(href='https://engrave.website')  ENGRAVE