extends website.pug

append scripts
  script(src="/js/parsley.min.js")
  script(src="/js/configure.js")
  script(src="/js/image-picker.min.js")
  link(href='/css/image-picker.css', rel='stylesheet')

block body
  .content
    .container-fluid
      .row
        .col-md-8
          .card
            .card-header
              h4.card-title Your blog is almost ready
              span We just need few more informations
              hr
            .card-body
              if blogger.tier == 10
                include configuration-pages/basic.pug
              else if blogger.tier == 12
                include configuration-pages/standard.pug
              else
                include configuration-pages/extended.pug