extends website.pug

block body
    .content
        .container-fluid
            .row
                .col-md-8
                    .card
                        .card-header
                            h4.card-title Welcome back, @#{blogger.steem_username}
                            p Your personal Steem blog is ready
                        .card-body
                            p You can now:
                            ul
                                li
                                    a(href='/dashboard/write') Write new post
                                li
                                    a(href='/dashboard/posts') See your blog posts
                                li
                                    a(href='/dashboard/profile') Tell something about you
                                li
                                    a(href='/dashboard/settings') Manage blog settings