extends website.pug

append content
    if latest.length
        each article in latest
            section#intro.main
                .spotlight
                    .content
                        header.major
                            h2= article.title
                        p= article.body_abbr + '...'
                        ul.actions
                            li
                                a.button(href='/' + article.permlink) Czytaj
                    span.image
                        img(src=article.image, alt='')
    else 
        section#intro.main
            .spotlight
                .content
                    header.major
                        h2= "No articles found or loaded from blockchain yet"