doctype html
html
    head
        title= config.blog_title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='/assets/css/main.css')
        noscript
            link(rel='stylesheet', href='/assets/css/noscript.css')

        if config.webmastertools_id && config.webmastertools_id != ''
            meta(name="google-site-verification" content= config.webmastertools_id)
        
        include partials/opengraph.pug

        block scripts
            include partials/scripts.pug
    
    
    body.is-preload
        #wrapper
            header#header.alt
                a(href='/')
                    h1= config.blog_title
                p= config.blog_slogan
            
            include partials/nav.pug
            
            #main
                block content
                

            include partials/footer.pug
        include partials/scripts-bottom.pug