extends website.pug
  
block body
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .card-header
              h4.card-title Your blog is almost ready
            .card-body
