extends website.pug

block body
    .content
        .container-fluid
            .row
                .col-md-8
                    .card
                        .card-header
                            h4.card-title Welcome back, @#{blogger.steem_username}
                            p Your personal Steem blog is ready
                        .card-body