extends website.pug

block body
  .content
    .container-fluid
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title Drafts
                        p.card-category Your drafts that can be published at any moment
                    .card-body
                        .row
                            .col-md-6
                                .form-group
                                    label No drafts found
        .row
            .col-md-12
                //- .card.strpied-tabled-with-hover
                .card
                    .card-header
                        h4.card-title Published
                        p.card-category Here are posts that already exist in blockchain
                    //- .card-body.table-full-width.table-responsive
                    .card-body
                        .row
                            .col-md-6
                                .form-group
                                    if !posts || !posts.length
                                        label No articles published yet
                                    else
                                        each post in posts
                                            .row
                                                .col-xs-12.col-sm-3.col-md-3
                                                    if post.thumbnail
                                                        img(src= post.thumbnail).img-responsive.img-box.img-thumbnail
                                                    else    
                                                        img(src='/img/default.jpg').img-responsive.img-box.img-thumbnail-small
                                                .col-xs-12.col-sm-9.col-md-9
                                                    label
                                                        a(href='/dashboard/edit/' + post.permlink)= post.title
                                                    p.card-category= '$' + parseFloat(parseFloat(post.pending_payout_value.replace(" SBD", "")) + parseFloat(post.total_payout_value.replace(" SBD", ""))).toFixed(2)
                                            hr
                        //- table.table.table-hover.table-striped
                        //-     thead
                        //-         tr
                        //-             th Date
                        //-             th Title
                        //-             th Reward
                        //-             th Action
                        //-     tbody
                        //-         tr
                        //-             td.md-1 2019.04.03 19:30
                        //-             td Dakota Rice Dakota Rice Dakota Rice
                        //-             td $36,738
                        //-             td.td-actions.text-right
                        //-                 button.btn.btn-info.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Edit post')
                        //-                     i.fa.fa-edit
                        //-                 //- button.btn.btn-danger.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Remove')
                        //-                 //-     i.fa.fa-times
                        //-         tr
                        //-             td.md-1 2019.04.03 19:30
                        //-             td Minerva Hooper
                        //-             td $23,789
                        //-             td.td-actions.text-right
                        //-                 button.btn.btn-info.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Edit post')
                        //-                     i.fa.fa-edit
                        //-                 //- button.btn.btn-danger.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Remove')
                        //-                 //-     i.fa.fa-times
                        //-         tr
                        //-             td.md-1 2019.04.03 19:30
                        //-             td Sage Rodriguez
                        //-             td $56,142
                        //-             td.td-actions.text-right
                        //-                 button.btn.btn-info.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Edit post')
                        //-                     i.fa.fa-edit
                        //-                 //- button.btn.btn-danger.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Remove')
                        //-                 //-     i.fa.fa-times
                        //-         tr
                        //-             td.md-1 2019.04.03 19:30
                        //-             td Philip Chaney
                        //-             td $38,735
                        //-             td.td-actions.text-right
                        //-                 button.btn.btn-info.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Edit post')
                        //-                     i.fa.fa-edit
                        //-                 //- button.btn.btn-danger.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Remove')
                        //-                 //-     i.fa.fa-times
                        //-         tr
                        //-             td.md-1 2019.04.03 19:30
                        //-             td Doris Greene
                        //-             td $63,542
                        //-             td.td-actions.text-right
                        //-                 button.btn.btn-info.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Edit post')
                        //-                     i.fa.fa-edit
                        //-                 //- button.btn.btn-danger.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Remove')
                        //-                 //-     i.fa.fa-times
                        //-         tr
                        //-             td.md-1 2019.04.03 19:30
                        //-             td Mason Porter
                        //-             td $78,615
                        //-             td.td-actions.text-right
                        //-                 button.btn.btn-info.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Edit post')
                        //-                     i.fa.fa-edit
                                        //- button.btn.btn-danger.btn-simple.btn-link(type='button', rel='tooltip', title='', data-original-title='Remove')
                                        //-     i.fa.fa-times
