extends website.pug

append scripts
  script(src="/js/parsley.min.js")
  script(src="/js/profile.js")

block body
  .content
    .container-fluid
      .row
        .col-md-8
          .card
            .card-header
              h4.card-title Edit your profile
            .card-body
              form#profile
                .row
                  .col-md-4
                    .form-group
                      label Email address
                      input.form-control(disabled=true, name="email", type='email', placeholder='Email', value= blogger.email)
                .row
                  .col-md-6.pr-1
                    .form-group
                      label First Name
                      input.form-control(name='author_name', type='text', placeholder='First name', value= blogger.author_name)
                  .col-md-6.pl-1
                    .form-group
                      label Last Name
                      input.form-control(name='author_surname', type='text', placeholder='Last name', value= blogger.author_surname)
                .row
                  .col-md-12
                    .form-group
                      label Profile image URL
                      input.form-control(type='url', name='author_image_url', placeholder='https://...', value= blogger.author_image_url)
                .row
                  .col-md-12
                    .form-group
                      label About Me
                      textarea.form-control(name='author_bio', rows='4', placeholder='Here can be your description', style="height:auto !important;")= blogger.author_bio
                button.btn.btn-info.btn-fill.pull-right(type='submit') Update Profile
                .clearfix
        .col-md-4
          .card.card-user
            .card-image
              img(src='https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400', alt='...')
            .card-body
              .author
                a(href='')
                  img.avatar.border-gray(src= blogger.author_image_url != '' ? blogger.author_image_url : '/img/default-person.jpg', alt='...')
                  if blogger.author_name || blogger.author_surname
                    h5.title= blogger.author_name + ' ' + blogger.author_surname
                p.description
                  = '@' + blogger.steem_username
              p.description.text-center
                = blogger.author_bio
            hr
            .button-container.mr-auto.ml-auto
              button.btn.btn-simple.btn-link.btn-icon(href='#')
                i.fa.fa-facebook-square
              button.btn.btn-simple.btn-link.btn-icon(href='#')
                i.fa.fa-twitter
              button.btn.btn-simple.btn-link.btn-icon(href='#')
                i.fa.fa-google-plus-square