extends website.pug

block body
    #myModal1.modal.fade.modal.modal-primary(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.justify-content-center
                    //- .modal-profile
                    //-     i.nc-icon.nc-bulb-63
                .modal-body.text-center
                    p You are about to publish new blog post to Steem blockchain
                    hr
                    h4 Please be aware that you cannot delete it or change category later

                .modal-footer
                    button.btn.btn-link.btn-simple(type='button', data-dismiss='modal') Back
                    button.btn.btn-link.btn-success.btn-fill#btn-accept(type='button') Yes, i want to publish it
    .content
        .container-fluid
            .row
                .col-md-8
                    .card
                        .card-header
                            h4.card-title Publish new post
                        .card-body
                            form#article(data-parsley-validate="")
                                .row
                                    .col-md-12
                                        .form-group
                                            label Title
                                            input.form-control(type='text', placeholder='Post title...', value='', name='title', required="" minlength="5")
                                .row
                                    .col-md-12
                                        .form-group
                                            label Body
                                            textarea.form-control#post-body(rows='10', placeholder='Blog post...', style="height:auto !important;", name='body' minlength="10")
                                            a.btn.btn-link.btn-simple.pull-right(target='_blank' href='https://guides.github.com/features/mastering-markdown/') Markdown styling guide
                                .row
                                    .col-md-12
                                        .form-group
                                            label Category
                                            select.form-control(name='category')
                                                each category in blogger.categories 
                                                    option= category.name
                                .row
                                    .col-md-12
                                        .form-group
                                            label Additional tags (space separated)
                                            input.form-control(type='text', placeholder='tag anothertag', value='', name='tags')
                                .row
                                    .col-md-12
                                        .form-group
                                            label Preview image
                                            input.form-control(type='text', placeholder='https://...', value='', name='image')
                                                             
                                button.btn.btn-success.btn-fill.pull-right#btn-publish( type="button")
                                    |  Publish new post

                .col-md-4
                    .card
                        .card-header
                            h4.card-title Tips and tricks
                        .card-body
                            ul
                                li Never show your account's keys to anyone. Never!
                                li Use popular tags, but only if they match the context
                                li Style your articles using Markdown
                                li Nice images makes everything look better
                            h4 Categories
                            ul
                                li Due to Steem blockchain principles, it's not possible to change category after publishing. It is important to configure them first!

append scripts
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src="/js/parsley.min.js")
    script(src="/js/write.js")