[submodule "engrave-front-dashboard/src/submodules/engrave-shared"]
	path = engrave-front-dashboard/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-api-gateway/src/submodules/engrave-shared"]
	path = engrave-api-gateway/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-blockchain-tracker/src/submodules/engrave-shared"]
	path = engrave-blockchain-tracker/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-blogs-renderer/src/submodules/engrave-shared"]
	path = engrave-blogs-renderer/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-image-uploader/src/submodules/engrave-shared"]
	path = engrave-image-uploader/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-nginx-configurator/src/submodules/engrave-shared"]
	path = engrave-nginx-configurator/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-ssl/src/submodules/engrave-shared"]
	path = engrave-ssl/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-statistics/src/submodules/engrave-shared"]
	path = engrave-statistics/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-auth/src/submodules/engrave-shared"]
	path = engrave-auth/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-mailer/src/submodules/engrave-shared"]
	path = engrave-mailer/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-webpush-sender/src/submodules/engrave-shared"]
	path = engrave-webpush-sender/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
[submodule "engrave-vault-connector/src/submodules/engrave-shared"]
	path = engrave-vault-connector/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
