[submodule "engrave-statistics/src/submodules/engrave-shared"]
	path = engrave-statistics/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git

[submodule "engrave-image-uploader/src/submodules/engrave-shared"]
	path = engrave-image-uploader/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git

[submodule "engrave-api-gateway/src/submodules/engrave-shared"]
	path = engrave-api-gateway/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git

[submodule "engrave-ssl/src/submodules/engrave-shared"]
	path = engrave-ssl/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git

[submodule "engrave-nginx-configurator/src/submodules/engrave-shared"]
	path = engrave-nginx-configurator/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
	
[submodule "engrave/src/submodules/engrave-shared"]
	path = engrave/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git

[submodule "engrave-blockchain-tracker/src/submodules/engrave-shared"]
	path = engrave-blockchain-tracker/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git

[submodule "engrave-blogs-renderer/src/submodules/engrave-shared"]
	path = engrave-blogs-renderer/src/submodules/engrave-shared
	url = https://github.com/wise-team/engrave-shared.git
