global:
    scrape_interval: 5s
    external_labels:
        monitor: 'my-monitor'
scrape_configs:
    - job_name: 'prometheus'
      static_configs:
        - targets: ['localhost:9090', 'cadvisor:8080', 'node-exporter:9100']