extends ../website

block content
    .row
        .col-lg-8
            .contact-us-box
                .title-section
                    h1 Skontaktuj się z nami
                    p Napisz do nas na adres 
                        a(href="mailto:redakcja@glodniwiedzy.pl") redakcja@glodniwiedzy.pl
                    p Odpowiemy na twoją wiadomość najszybciej jak to możliwe. Prosimy zawrzeć w wiadomości wszelkie informacje, które mogą być pomocne przy rozwiązywaniu twojej sprawy.
                    //- form#contact-form
                    //-     .row
                    //-         .col-md-4
                    //-             label(for="name") Imię*
                    //-             input(name="name" type="text")#name
                    //-         .col-md-4
                    //-             label(for="mail") E-mail*
                    //-             input(name="mail" type="text")#mail
                    //-         .col-md-4
                    //-             label(for="website") Strona WWW
                    //-             input(name="website" type="text")#website

                    //-     label(for="comment") Wiadomość*
                    //-     textarea(name="comment")#comment
                    //-     button(type="submit")#submit_contact
                    //-         i.fa.fa-paper-plane
                    //-         | Send Message
                    //-     #msg.alert
        
        .col-lg-4.sidebar-sticky
            include ../partials/sidebar.pug