.top_nav
    .nav_menu
        nav
            .nav.toggle
                a#menu_toggle
                    i.fa.fa-bars
            ul.nav.navbar-nav.navbar-right
                li(role="presentation").dropdown
                    a(href="/authorize/logout") Wyloguj