extends ../website

block content
    .row
        .col-lg-8
            .about-box
                .title-section
                    h1 O nas
                    
                    img(src="https://www.crypto-economy.net/wp-content/uploads/2018/01/steem1.png", alt="")
                    
                    p Głodni Wiedzy jest pierwszą w Polsce redakcją monetyzującą treści za pomocą kryptowaluty. Wszystkie artykuły publikowane są w blockchainie STEEM, dzięki czemu twórcy treści mogą otrzymać wynagrodzenie adekwatne do zainteresowania czytelników. Użytkownicy posiadający konto STEEM głosują na treści, dzięki czemu dzienna pula tokenów jest przeznaczana dla autorów treści. Głodni Wiedzy pobierają mały procent kwoty wynagrodzenia artykułu w celu utrzymania wymaganej infrastruktury oraz pokrycia kosztów operacyjnych.
                    
                    p Głosowanie na treści jest darmowe i nie zmniejsza wartości konta STEEM. Co więcej, użytkownicy głosujący na artykuły na stronie Głodni Wiedzy dostają do podziału 25% wartości wynagrodzenia za artykuł. Opłaca się więc założyć konto i regularnie głosować na treści.
                    
                    p Możliwa jest także współpraca w roli redaktora. Wystarczy skontaktować się z nami przez stronę 
                        a(href="/kontakt") kontakt
                        |  i udowodnić, że potrafi się pisać zwięzłe, poprawne językowo treści. Szczegółowe wymagania oraz formę rozliczenia przekażemy wszystkim zainteresowanym drogą mailową.
                    
                    h2 Motywacja
                    p Rosnące zainteresowanie technologią blockchain oraz kryptowalutami przyciąga coraz więcej użytkowników do portali opartych na technologii STEEM. Każdy bez ograniczeń może publikować treści i zarabiać na nich kryptowalutę. Powoduje to z jednej strony zwiększoną liczbę głosów (która wynika z większej liczby użytkowników), ale z drugiej strony zaśmiecanie portali niskiej jakości treściami. Chcemy wyjść na przeciw temu problemowi oferując miejsce, w którym można znaleźć zawsze dobrej jakości treści dotyczące najnowszych i najciekawszych wydarzeń na świecie, przedstawionych jednocześniej w czytelnej i wygodnej formie.
                    
                    p Wierzymy, że weryfikacja artykułów przed publikacją, tak samo jak w przypadku każdej innej redakcji, jest drogą do zaspokojenia potrzeb naszych czytelników. Głodni Wiedzy nie jest jednak portalem cenzurującym treści. Dbamy tylko o to, by czytelnicy byli w stanie w łatwy sposób dotrzeć do treści, które będą interesujące i prawdziwe. Wszelkie treści dodawane przez innych użytkowników nadal będą widoczne oraz dostępne w blockchainie STEEM i można do nich dotrzeć za pomocą innych portali.

                    h2 Technologia
                    
                    p Treści wyświetlane na stronie Głodni Wiedzy pobierane są wprost z blockchainu STEEM. Są one także dostępne na innych portalach opartych o ten sam blockchain, np. steemit.com, czy busy.org. Wszelkie głosy i komentarze są wspólne i są przechowywane bezpośrednio w blockchainie. Blockchain STEEM jest więc wykorzystywany jako rozproszona baza danych, do czego został zaprojektowany.

                    p Użytkownicy posiadający konto STEEM mogą się zalogować za pomocą SteemConnect, bezpiecznego sposobu logowania na zewnętrznych stronach. Żadne dane dotyczące konta nie są dostępne dla portalu Głodni Wiedzy i nie są nigdzie przechowywane. W każdej chwili można także zablokować dostęp aplikacji w panelu Steemconnect. Po zalogowaniu można głosować na treści, publikować własne oraz odpowiadać na komentarze innych użytkowników.


            //- .team-box
            //-     .title-section
            //-         h1 Nasz zespół
            //-     .row
            //-         .col-md-4
            //-             img(src="https://kosmiczne.info/wp-content/uploads/2017/06/ja.jpg")
            //-             h2 Bartłomiej Górnicki
            //-             span CEO / Współwłaściciel
            //-         .col-md-4
            //-             img(src="https://kosmiczne.info/wp-content/uploads/2017/06/ja.jpg")
            //-             h2 Bartosz Mejer
            //-             span Social Media Ninja
            //-         .col-md-4
            //-             img(src="https://kosmiczne.info/wp-content/uploads/2017/06/ja.jpg")
            //-             h2 Jan Kędzierski
            //-             span Projektant

        .col-lg-4.sidebar-sticky
            include ../partials/sidebar.pug