footer
    .container
        .down-footer
            ul.list-footer
                li
                    a(href="/") Główna
                li
                    a(href="/o-nas") O nas
                li
                    a(href="/jak-zarabiac") Jak zarabiać
                li
                    a(href="/kontakt") Kontakt
            p 
                | © 
                = config.website_credits
                |  Powered by 
                a(href="https://glodniwiedzy.pl") Głodni Wiedzy