script(src="//cdn.steemjs.com/lib/latest/steem.min.js")
link(rel="manifest preload" href="/manifest.json")

script(type='text/javascript').
    var onesignal_id = !{JSON.stringify(config.onesignal_id)}
    var analytics_identifier = !{JSON.stringify(config.analytics_identifier)}
script(async src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" rel="preload")
script(src='/default/js/onesignal.js' rel="preload" async)
script(async src="https://www.googletagmanager.com/gtag/js?id=" + config.analytics_identifier rel="preload")
script(src='/default/js/analytics.js' rel="preload" async)

#fb-root
script(src='/default/js/facebook-sdk.js' rel="preload" async)
script(src="/default/js/twitter.js" rel="preload" async)

script(src='/default/js/modernmag-plugins.min.js')
script(src='/default/js/popper.js')
script(src='/default/js/bootstrap.min.js')
script(src='/default/js/script.js')
script(src='/default/js/toastr.js')
script(src='/default/js/hotjar.js')
script(src='/default/js/ion.rangeSlider.min.js')