.steemit-info
    img(src="https://www.steem.center/images/5/55/Steem_Logo.png")
    p
        | Możesz się zalogować kontem STEEM i zarabiać z nami, wystarczy, że będziesz głosował na wartościowe treści. Zaloguj się za pomocą bezpiecznego STEEMCONNECT lub 
        a(href="https://signup.steemit.com/") załóż konto.
    p 
        a(href="/authorize").steemit-login-btn ZALOGUJ SIĘ STEEMCONNECT