extends website.pug

block body
    .content
        .container-fluid
            .row
                .col-md-8
                    .card
                        .card-header
                            h4.card-title Notifications
                            p.card-category Soon you will be able to see your account history
                        .card-body