extends website.pug

block body
    #myModal1.modal.fade.modal.modal-primary(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.justify-content-center
                .modal-body.text-center
                    p You are about to publish new blog post to Steem blockchain
                    hr
                    h4 Please be aware that you cannot delete it or change category later

                .modal-footer
                    button.btn.btn-link.btn-simple(type='button', data-dismiss='modal') Back
                    button.btn.btn-link.btn-success.btn-fill#btn-accept(type='button') Yes, i want to publish it
    .content
        .container-fluid
            .row
                .col-md-8
                    .card
                        .card-header
                            h4.card-title Publish new post
                        .card-body
                            form#article(data-parsley-validate="")
                                input(hidden=true, name='_id', id='_id' value= (draft && draft._id) ? draft._id : '')
                                .row
                                    .col-md-12
                                        .form-group
                                            label Title
                                            input.form-control(type='text', placeholder='Post title...', value= (draft && draft.title) ? draft.title : '', name='title', required="" minlength="5")
                                .row
                                    .col-md-12
                                        .form-group
                                            label Body
                                            textarea.form-control#post-body(rows='10', placeholder='Blog post...', style="height:auto !important;", required="", name='body' minlength="5")
                                                if draft && draft.body
                                                    = draft.body
                                .row
                                    .col-md-12
                                        .form-group
                                            select.form-control(name='category')
                                                each category in blogger.categories
                                                    option(selected= (draft && draft.category && (draft.category.name == category.name)))= category.name
                                .row
                                    .col-md-12
                                        .form-group
                                            label Additional tags (space separated)
                                            input.form-control(type='text', pattern="([a-zA-Z0-9\-]+[ ]?)([a-zA-Z0-9\-]+[ ]?){0,3}", data-parsley-pattern-message="Only letters and numbers allowed. No more than 4 tags", placeholder='tag anothertag', value= (draft && draft.tags) ? draft.tags.slice(1).join(" ") : '', name='tags')
                                .row
                                    .col-md-12
                                        .form-group
                                            label(data-toggle="tooltip" data-placement="top" title="If not specified - first image from post will be used as post thumbnail") Thumbnail image (optional)
                                            input.form-control(type='text', pattern="(http(s)?://)([a-zA-Z0-9]{1,256}\.)?[a-zA-Z0-9]{2,256}\.[a-z]{2,6}([-a-zA-Z0-9@:%_+.~#?&/=]*)(.)(png|jpg|jpeg|gif|bmp)", data-parsley-pattern-message="Please use only direct image link as a featured image", placeholder='https://...', value= (draft && draft.featured_image) ? draft.featured_image : '', name='featured_image')
                                .row
                                    .col-md-12
                                        .form-group
                                            .form-check
                                                label(data-toggle="tooltip" data-placement="top" title="You will not receive any reward for this post").form-check-label
                                                    input.form-check-input(type="checkbox" name="decline_reward")
                                                    span.form-check-sign
                                                    | Decline reward on this article
                                               
                                button.btn.btn-success.btn-fill.pull-right#btn-publish( type="button")
                                    |  Publish new post
                                button.btn.btn-info.btn-fill#btn-draft( type="button")
                                    if draft && draft._id
                                        |  Update draft
                                    else 
                                        |  Save draft

                .col-md-4
                    .card
                        .card-header
                            h4.card-title Tips and tricks
                        .card-body
                            ul
                                li Never show your account's keys to anyone. Never!
                                li Use popular tags, but only if they match the context
                                li Style your articles using Markdown
                                li Nice images makes everything look better
                            h4 Categories
                            ul
                                li Due to Steem blockchain principles, it's not possible to change category after publishing. It is important to configure them first!

append scripts
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src="/js/parsley.min.js")
    script(src="/js/write.js")