footer#footer
    section
        h2= config.blog_title
        p= config.blog_slogan

    section
        h2 Social media

        ul.icons
            li
                a.icon.fa-twitter.alt(href='#')
                    span.label Twitter
            li
                a.icon.fa-facebook.alt(href='#')
                    span.label Facebook
            li
                a.icon.fa-instagram.alt(href='#')
                    span.label Instagram
            li
                a.icon.fa-github.alt(href='#')
                    span.label GitHub
            li
                a.icon.fa-dribbble.alt(href='#')
                    span.label Dribbble
    p.copyright
        | Powered by 
        a(href='https://engrave.website') ENGRAVE
        | . Designed by 
        a(href='https://html5up.net') HTML5 UP
        | .