extends website

block content
    .error-box
        .error-banner
            h1 Błąd 
                span 404
            p Wygląda na to, że strona której szukasz nie istnieje. Spróbuj użyć wyszukiwarki lub przejdź na stronę główną.
    
    include partials/featured.pug