extends website

append scripts
    script(src="/default/js/main.js")

block content
    meta(name="description", content= config.opengraph_default_description)
    input(type="hidden" value=category )#category_indicator
    .posts-block.standard-box
        .title-section
            h1= category_fullname
        .row#posts
            if latest
                each item in latest
                    include partials/box.pug            
            else
                h1= translation.frontpage.no_posts_in_category
    
        .center-button
            a(href="#").load-more= translation.frontpage.loadmore_text