footer.footer
    .container
        nav
            ul.footer-menu
                li
                    a(href='/')
                        | Home
                li
                    a(href='#')
                        | About ENGRAVE
                li
                    a(href='#')
                        | Blogs
        p.copyright.text-center
            | © 
            script.
                document.write(new Date().getFullYear())
            |  Powered by 
            a(href='https://engrave.website') ENGRAVE
            | , theme created by 
            a(href='http://www.creative-tim.com')  Creative Tim