.sidebar(data-image='/modern/img/sidebar-5.jpg', data-color="purple")

    .sidebar-wrapper
        .logo
            a.simple-text(href='/dashboard')
                img(src='/img/logo_white_transparent.png')
        ul.nav
            li.nav-item(class= (url == '/') ? 'active' : '' )
                a.nav-link(href='/dashboard')
                    i.nc-icon.nc-chart-pie-35
                    p Dashboard
            li.nav-item(class= (url == 'posts') ? 'active' : '' )
                a.nav-link(href='/dashboard/posts')
                    i.nc-icon.nc-bullet-list-67
                    p Your posts
            li.nav-item(class= (url == 'write') ? 'active' : '' )
                a.nav-link(href='/dashboard/write')
                    i.nc-icon.nc-ruler-pencil
                    p Write new post
            li.nav-item(class= (url == 'wallet') ? 'active' : '' )
                a.nav-link(href='/dashboard/wallet')
                    i.nc-icon.nc-money-coins
                    p Wallet
            li.nav-item(class= (url == 'notifications') ? 'active' : '' )
                a.nav-link(href='/dashboard/notifications')
                    i.nc-icon.nc-bell-55
                    p Notifications
            li.nav-item(class= (url == 'profile') ? 'active' : '' )
                a.nav-link(href='/dashboard/profile')
                    i.nc-icon.nc-circle-09
                    p Your Profile
            li.nav-item(class= (url == 'settings') ? 'active' : '' )
                a.nav-link(href='/dashboard/settings')
                    i.nc-icon.nc-settings-gear-64
                    p Blog Settings
            li.nav-item(class= (url == 'tmehes') ? 'active' : '' )
                a.nav-link(href='/dashboard/tmehes')
                    i.nc-icon.nc-palette
                    p Themes
            li.nav-item(class= (url == 'market') ? 'active' : '' )
                a.nav-link(href='/dashboard/market')
                    i.nc-icon.nc-planet
                    p Cooperation market

            //- li.nav-item.active.active-pro
            //-     a.nav-link.active(href='/dashboard/upgrade')
            //-         i.nc-icon.nc-alien-33
            //-         p Upgrade your tier