extends website

block content
    .fullwidth-section.top
    if latest
        #gino_large_blog_2.widget.module-large-blog.module-large-blog-2
            .gino_header
                .main-title
                    h3= category_fullname
            .gino_large-blog-wrapper
                .large-blog-content-container.clear-fix
                    if latest
                        each item in latest
                            include partials/article-box.pug
                    else
                        h1 Brak postów w tej kategorii