extends website

block content
    .single-page.clear-fix
        .article-content-wrap
            .content-sb-section.clear-fix
                .main
                    .singletop
                        .post-cat
                            a(href="/kategoria/" + category)= category_fullname
                        h3.post-title
                            = article_title
                        .post-meta.clear-fix
                            .post-author
                                span.avatar
                                    a= root_author
                            .date
                                span
                                    i.fa.fa-clock-o
                                a= date
                    .article-content
                        p!= body
                        
                    include partials/comments.pug

    //- .row
    //-     if user
    //-         #voting
    //-             p#voting-counter= net_votes
    //-             #voting-loader
    //-                 i(class= voted ? "voted" : "" ).fa.fa-thumbs-up#voting-icon
    //-             p#voting-value
    //-                 | $
    //-                 = value
    //-     .col-lg-8
    //-         .single-post
    //-             ul.post-tags
    //-                 li
    //-                     i.lnr.lnr-tag
    //-                     a(href="/kategoria/"+ category)= category_fullname
    //-                 li
    //-                     i.lnr.lnr-clock
    //-                     = date
    //-             h1= article_title
    //-             ul.post-tags
    //-                 li 
    //-                     i.lnr.lnr-user
    //-                     = root_author
    //-                 li
    //-                     i.lnr.lnr-bubble
    //-                     | Komentarzy: 
    //-                     = comments_quantity
    //-                 li
    //-                     i.lnr.lnr-thumbs-up
    //-                     | Głosów: 
    //-                     = net_votes
    //-                 li
    //-                     i.lnr.lnr-diamond
    //-                     | Wynagrodzenie autora: $
    //-                     = value
    //-             .text-boxes
    //-                 p!= body
    //-                 //- h2 Tagi
    //-                 //- ul.tags-list
    //-                 //-     each tag in tags
    //-                 //-         li
    //-                 //-             a(href="/kategoria/"+ tag)= tag
    //-         //- include partials/author.pug
    //-         include partials/comments.pug
    //-     .col-lg-4.sidebar-sticky
    //-         include partials/sidebar.pug