form#configure
    .row
        .col-md-6
            .form-group
                label Blog address
                input.form-control.text-right#configuration-domain(name='subdomain', autocapitalize="none", required, pattern="^[a-zA-Z0-9][a-zA-Z0-9-_]{2,24}?$", title="Use no special characters and whitespaces. Allowed length: 2-24 characters", type='text', placeholder='yourblogaddress')
        
        .col-md-6
            .form-group
                label Domain
                select.form-control(name="domain")
                    each domain in config.blogs_domains
                        option(value=domain )= "." + domain
    .row
        .col-md-6
            .form-group
                label Blog title
                input.form-control(name='blog_title', required, pattern=".{3,100}", title="Allowed length: 3-100 characters", type='text', placeholder='Blog title')
        .col-md-6
            .form-group
                label Blog slogan
                input.form-control(name='blog_slogan', pattern=".{3,100}", title="Allowed length: 3-100 characters", placeholder='Blog slogan')
    
    .row.justify-content-md-center
        .col-md-12
            .form-group
                label Theme (can be changed later)
                select.form-control.image-picker(name="theme")#theme-select
                    each theme, index in themes
                        option(value=theme.slug, data-img-src=`/img/${theme.slug}-theme.png`, data-img-class= (index == 0) ? "first" : "last")= theme.name
    .row
        .col-md-12
            .form-group
                label You will write about
                select.form-control(name="category")
                    each category in config.blogs_categories
                        option(value=category )= category
    .row
        .col-md-6
            .form-group
                label Your e-mail
                input.form-control(name='email', required, type='email', placeholder='example@example.com')#email
        .col-md-6
            .form-group
                label Repeat e-email
                input.form-control(name='email_repeat', required, data-parsley-equalto="#email", parsley-required="true", type='email', placeholder='example@example.com')#email_repeat

    .row
        .col-md-12
            .form-group
                .form-check
                    label(data-toggle="tooltip" data-placement="top" title="").form-check-label
                        input.form-check-input(type="checkbox", name="agreement", required)#agreement
                        span.form-check-sign
                        | You can send me e-mails that are required for Engrave to work
                .form-check
                    label(data-toggle="tooltip" data-placement="top" title="").form-check-label
                        input.form-check-input(type="checkbox", name="newsletter")#newsletter
                        span.form-check-sign
                        | Please, help me discover interesting blogs

    a(href='/authorize/tier/cancel').btn.btn-link Change your tier
    button.btn.btn-success.btn-fill.pull-right#finish-button(type='submit') Finish configuration
    .clearfix

append scripts
    script(src="/js/configuration.js")