script(src='/assets/js/jquery.scrollex.min.js')
script(src='/assets/js/jquery.scrolly.min.js')
script(src='/assets/js/browser.min.js')
script(src='/assets/js/breakpoints.min.js')
script(src='/assets/js/util.js')
script(src='/assets/js/main.js')
script(src='/assets/js/bootstrap.min.js')