.steemit-info#login-box
    p= "You can login with your Steem account using secure Steemconnect and interact with this blog. You would be able to comment and vote on this article and other comments."
    footer.major
        ul.actions.special
            li
                a(href="/login").button.primary= "Login with Steemconnect"