.author-profile
    .author-box
        img(src= author.image)
        .author-content
            h4= author.name
                a(href="#") 13 artykułów
            p= author.bio
            ul.author-social
                li
                    a(href='#')
                        i.fa.fa-facebook
                li
                    a(href='#')
                        i.fa.fa-twitter
                li
                    a(href='#')
                        i.fa.fa-google

                li
                    a(href='#')
                        i.fa.fa-linkedin