.posts-block#featured-posts
    h1 Gorące tematy
    .slider-news
        .flexslider
            ul.slides
                each featured_item in featured
                    li.flex-active-slide
                        img(src=featured_item.image)
                        .slider-caption
                            a(href="/kategoria/"+ featured_item.category, class="category category-" + featured_item.category) #{featured_item.category_fullname}
                            h2
                                a(href= featured_item.url)= featured_item.title
                            p= featured_item.body