.footer
    .footer-content.gino_site-container.clear-fix
        .footer-sidebar
            aside.widget.widget_text
                .gino_header
                    .main-title
                        h3 O mnie
                .textwidget
                    | Wszelkie informacje dotyczące technologii blockchain w przystępnej formie. Zapraszam do zapoznania się z materiałem i kontaktu
        .footer-sidebar
            aside.widget.widget-social
                .widget-title-wrap
                    .gino_header
                        .main-title
                            h3 Obserwuj mnie
                .social-wrapper
                    ul.clearfix
                        li.social-icon.fb
                            a(href="https://www.facebook.com/cobpl/")
                                i.fa.fa-facebook
                        li.social-icon.twitter
                            a(href="https://twitter.com/k_staszewski")
                                i.fa.fa-twitter
    .footer-lower
        .footer-inner.gino_site-container
            .gino_copyright
                | © Copyright 2018 Chain Of Block. All Right Reserved. Powered by 
                a(href="https://glodniwiedzy.pl") glodniwiedzy.pl