.header-wrap.header-left.header-black
    .top-bar.clear-fix
        .header-inner.gino_site-container.clear-fix
            .header-social.clear-fix
                ul
                    li.fb
                        a(href="https://www.facebook.com/cobpl/" taget="_blank")
                            i.fa.fa-facebook
                    li.twitter
                        a(href="https://twitter.com/k_staszewski" taget="_blank")
                            i.fa.fa-twitter
    .header
        .header-inner.gino_site-container
            .logo
                h1
                    a(href="/")
                        img(src= config.website_logo_url)

    .main-nav
        .gino_site-container.clear-fix
            .header-inner.clear-fix
                .mobile
                    i.fa.fa-bars
                #main-menu.menu-main-menu-container
                    ul.menu
                        li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-149.current_page_item.menu-item-568
                            a(href="/").nav-link Główna
                        
                        each full, cat in categories
                            li.menu-item.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                a(href="/kategoria/" + cat.replace("pl-",""), class="nav-link").nav-link=full
                #main-mobile-menu.menu-main-menu-container
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-149.current_page_item.menu-item-568
                        a(href="/").nav-link Główna
                        
                    each full, cat in categories
                        li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                            a(href="/kategoria/" + cat.replace("pl-",""), class="nav-link").nav-link=full