//- Facebook Open Graph Meta Data
//- meta(property="og:url" content="")
meta(property="og:type" content="article")
meta(property="og:locale" content="pl_PL")
meta(property="og:site_name" content="Głodni Wiedzy")
meta(property="og:title" content= article_title)
if body_abbr
    meta(property="og:description" content= body_abbr)
else
    meta(property="og:description" content="Najciekawsze informacje ze swiata")
if image
    meta(property="og:image" content= image)
else 
    meta(property="og:image" content="")

//- Twitter Meta Data
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="Głodni Wiedzy")
meta(name="twitter:title" content= article_title)
if body_abbr
    meta(name="twitter:description" content= body_abbr)
else 
    meta(name="twitter:description" content="")
if image
    meta(name="twitter:image" content= image)
else 
    meta(name="twitter:image" content="")