script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src='/chainofblocks/js/jquery.fitvids.js')
script(src='/chainofblocks/js/jquery.magnific-popup.min.js')
script(src='/chainofblocks/js/imagesloaded.pkgd.min.js')
script(src='/chainofblocks/js/masonry.pkgd.min.js')
script(src='/chainofblocks/js/justifiedGallery.js')
script(src='/chainofblocks/js/jquery.flexslider.js')
script(src='/chainofblocks/js/customjs.js')
