.steemit-info
    img(src="https://www.steem.center/images/5/55/Steem_Logo.png")
    p
        | Autorzy artykułów zarabiają dzięki takim osobom jak ty.<br>Zaloguj się za pomocą bezpiecznego STEEMCONNECT lub 
        a(href="https://signup.steemit.com/") załóż konto.
    a(href="/authorize").steemit-login-btn ZALOGUJ SIĘ STEEMCONNECT