ul.small-posts
    each post in featured
        li
            a(href= post.permlink).sidebar-link-with-image
                img(src= post.image).sidebar_featured_image
            .post-cont
                h2
                    a(href= post.permlink) 
                        = post.title
                ul.post-tags
                    li
                        i.lnr.lnr-user
                        = translation.frontpage.author + ' '
                        a(href="/autor/" + post.root_author)
                            if post.author && post.author.name && post.author.surname
                                = post.author.name + ' ' + post.author.surname
                            else if post.author && post.author.name
                                = post.author.name
                            else 
                                = post.root_author