doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Material Design Bootstrap Template
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='../../css/mdb.min.css', rel='stylesheet')
  body.postpage-v3
    // Navigation
    header
      // Navbar
      nav.navbar.navbar-expand-lg.navbar-dark.stylish-color-dark
        // Navbar brand
        a.navbar-brand(href='#') Navbar
        // Collapse button
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Collapsible content
        #navbarSupportedContent.collapse.navbar-collapse
          // Links
          ul.navbar-nav.mr-auto
            // Dropdown
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Homepages
              .dropdown-menu.dropdown-primary(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='../homepage/v-1.html') V1
                a.dropdown-item(href='../homepage/v-2.html') V2
                a.dropdown-item(href='../homepage/v-3.html') V3
                a.dropdown-item(href='../homepage/v-4.html') V4
                a.dropdown-item(href='../homepage/v-5.html') V5
            // Dropdown
            li.nav-item.dropdown
              a#navbarDropdownMenuLink1.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Postpages
              .dropdown-menu.dropdown-primary(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='../postpage/v-1.html') V1
                a.dropdown-item(href='../postpage/v-2.html') V2
                a.dropdown-item(href='../postpage/v-3.html') V3
                a.dropdown-item(href='../postpage/v-4.html') V4
                a.dropdown-item(href='../postpage/v-5.html') V5
          // Links
          // Search form
          form.form-inline
            .md-form.my-0
              input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
        // Collapsible content
      // /.Navbar
    // / Navigation
    // Main layout
    main
      .container
        // Post
        .row.my-5.py-5
          .col-12
            // Card
            .card.card-body.mb-5.px-0.py-0
              .post-data.mb-4.ml-4.mt-4
                p.font-small.dark-grey-text.mb-1
                  strong Author:
                  |  Jimmy Brown
                p.font-small.grey-text.mb-0
                  i.fa.fa-clock-o
                  |  15/09/2017 at 4:03 pm
                a
                  span.badge.indigo Travel
                a
                  span.badge.pink Lifestyle
              // Title
              h1.font-weight-bold.mt-3.text-center
                strong This is title of the news
              hr.red.title-hr
              // Carousel Wrapper
              #carousel-example-1z.carousel.slide.carousel-fade(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                  li.active(data-target='#carousel-example-1z', data-slide-to='0')
                  li(data-target='#carousel-example-1z', data-slide-to='1')
                  li(data-target='#carousel-example-1z', data-slide-to='2')
                // /.Indicators
                // Slides
                .carousel-inner(role='listbox')
                  // First slide
                  .carousel-item.active
                    img.d-block.w-100.rounded-0(src='https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg', alt='First slide')
                  // /First slide
                  // Second slide
                  .carousel-item
                    img.d-block.w-100.rounded-0(src='https://mdbootstrap.com/img/Photos/Slides/img%20(145).jpg', alt='Second slide')
                  // /Second slide
                  // Third slide
                  .carousel-item
                    img.d-block.w-100.rounded-0(src='https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg', alt='Third slide')
                  // /Third slide
                // /.Slides
                // Controls
                a.carousel-control-prev(href='#carousel-example-1z', role='button', data-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.sr-only Previous
                a.carousel-control-next(href='#carousel-example-1z', role='button', data-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.sr-only Next
                // /.Controls
              // /.Carousel Wrapper
              // Grid row
              .row.px-4
                // Grid column
                .col-md-2.mt-4
                  h5.font-weight-bold.dark-grey-text
                    i.fa.fa-lg.fa-newspaper-o.mr-3.indigo-text
                    strong 259
                    |  Views
                // Grid column
                // Grid column
                .col-md-4.mt-4
                  h5.font-weight-bold.dark-grey-text
                    i.fa.fa-lg.fa-comments-o.mr-3.indigo-text
                    strong 14
                    |  Comments
                // Grid column
                // Grid column
                .col-md-6.mt-2.d-flex.justify-content-end
                  // Facebook
                  a.btn-floating.btn-small.btn-fb(type='button')
                    i.fa.fa-facebook
                  // Twitter
                  a.btn-floating.btn-small.btn-tw(type='button')
                    i.fa.fa-twitter
                  // Google +
                  a.btn-floating.btn-small.btn-gplus(type='button')
                    i.fa.fa-google-plus
                  // Instagram
                  a.btn-floating.btn-small.btn-ins(type='button')
                    i.fa.fa-instagram
                // Grid column
              // Grid row
              hr
              // Grid row
              .row.mx-md-5.px-md-4.px-5.mt-3
                p.dark-grey-text.article
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  | laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  | voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                  | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h4.font-weight-bold.mt-3.mb-4
                  strong Lorem ipsum dolor sit amet
                p.dark-grey-text.article
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  | totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                  | vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                  | aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                  | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                  | sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                  | voluptatem.
                blockquote.blockquote
                  p.mb-0
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  footer.blockquote-footer
                    | Someone famous in
                    cite(title='Source Title') Source Title
                p.dark-grey-text.article
                  | Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                  | ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
                  | velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
                  | nulla pariatur.
              // Grid row
              // Grid row
              .row.mx-md-5.px-md-4.px-5.my-3
                // Grid column
                .col-md-4.view.zoom
                  img.img-fluid.z-depth-1.rounded-0(src='https://mdbootstrap.com/img/Photos/Others/square/16.jpg', alt='sample image')
                  .mask.flex-center
                // Grid column
                // Grid column
                .col-md-4.view.zoom
                  img.img-fluid.z-depth-1.rounded-0(src='https://mdbootstrap.com/img/Photos/Others/square/27.jpg', alt='sample image')
                  .mask.flex-center
                // Grid column
                // Grid column
                .col-md-4.view.zoom
                  img.img-fluid.z-depth-1.rounded-0(src='https://mdbootstrap.com/img/Photos/Others/square/20.jpg', alt='sample image')
                  .mask.flex-center
                // Grid column
              // Grid row
              // Grid row
              .row.mx-md-5.px-md-4.px-5.mt-3.mb-2
                p.dark-grey-text.article
                  | Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                  | rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                  | dicta sunt explicabo. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                  | suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                  | qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                  | fugiat quo voluptas nulla.
                li.dark-grey-text.article.list-unstyled
                  strong Nulla volutpat aliquam velit:
                  ul
                    li Phasellus iaculis neque
                    li Purus sodales ultricies
                    li Vestibulum laoreet porttitor sem
                    li Ac tristique libero volutpat at
                    li Vestibulum laoreet porttitor sem
                p.dark-grey-text.article
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  | totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                  | vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
              // Grid row
              // Grid row
              .row.mx-md-5.px-md-4.px-5
                h5.font-weight-bold.mt-3.mb-4
                  strong Top 3 most visited cities
                table.table
                  thead
                    tr
                      th #
                      th City
                      th Annual visitors
                      th Country
                  tbody
                    tr
                      th(scope='row') 1
                      td New York
                      td 39 200 200
                      td USA
                    tr
                      th(scope='row') 2
                      td London
                      td 15 9663 000
                      td United Kingdom
                    tr
                      th(scope='row') 3
                      td Paris
                      td 13 468 680
                      td France
              // Grid row
              // Grid row
              .row.mx-md-5.px-md-4.px-5
                p.dark-grey-text.article
                  | Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                  | rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                  | dicta sunt explicabo. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                  | suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                  | qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                  | fugiat quo voluptas nulla pariatur.
              // Grid row
              hr
              // Grid row
              .row.mb-4
                // Grid column
                .col-md-12.text-center
                  h4.text-center.font-weight-bold.dark-grey-text.mt-3.mb-3
                    strong Share this post: 
                  button.btn.btn-fb.btn-sm(type='button')
                    i.fa.fa-facebook.left
                    |  Facebook
                  // Twitter
                  button.btn.btn-tw.btn-sm(type='button')
                    i.fa.fa-twitter.left
                    |  Twitter
                  // Google +
                  button.btn.btn-gplus.btn-sm(type='button')
                    i.fa.fa-google-plus.left
                    |  Google +
                // Grid column
              // Grid row
              .container-fluid.px-5(style='background-color: #d7dadf')
                h5.font-weight-bold.mt-5
                  strong YOU MIGHT ALSO LIKE
                hr.red.title-hr
                // Grid row
                .row.mb-4
                  // Grid column
                  .col-lg-4.my-3
                    // Card
                    .card
                      // Card image
                      .view.overlay
                        img.card-img-top(src='http://mdbootstrap.com/img/Photos/Others/img (43).jpg', alt='sample image')
                        a
                          .mask.rgba-white-slight
                      // /.Card image
                      // Card content
                      .card-body
                        // Title
                        h4.card-title
                          strong Card title
                        hr
                        p
                        p.font-small.font-weight-bold.dark-grey-text.mb-1
                          i.fa.fa-clock-o
                          |  27/08/2017
                        p.font-small.grey-text.mb-0 Anna Smith
                        p.text-right.mb-0.font-small.font-weight-bold
                          a
                            | read more
                            i.fa.fa-angle-right
                      // /.Card content
                    // /.Card
                  // Grid column
                  // Grid column
                  .col-lg-4.text-left.mt-3
                    // Card
                    .card
                      // Card image
                      .view.overlay
                        img.card-img-top(src='http://mdbootstrap.com/img/Photos/Others/img (39).jpg', alt='sample-image')
                        a
                          .mask.rgba-white-slight
                      // /.Card image
                      // Card content
                      .card-body
                        // Title
                        h4.card-title
                          strong Card title
                        hr
                        p.font-small.font-weight-bold.dark-grey-text.mb-1
                          i.fa.fa-clock-o
                          |  27/08/2017
                        p.font-small.grey-text.mb-0 Anna Smith
                        p.text-right.mb-0.font-small.font-weight-bold
                          a
                            | read more
                            i.fa.fa-angle-right
                      // /.Card content
                    // /.Card
                  // Grid column
                  // Grid column
                  .col-lg-4.text-left.mt-3
                    // Card
                    .card
                      // Card image
                      .view.overlay
                        img.card-img-top(src='http://mdbootstrap.com/img/Photos/Others/img (46).jpg', alt='sample-image')
                        a
                          .mask.rgba-white-slight
                      // /.Card image
                      // Card content
                      .card-body
                        // Title
                        h4.card-title
                          strong Card title
                        hr
                        p.font-small.font-weight-bold.dark-grey-text.mb-1
                          i.fa.fa-clock-o
                          |  27/08/2017
                        p.font-small.grey-text.mb-0 Anna Smith
                        p.text-right.mb-0.font-small.font-weight-bold
                          a
                            | read more
                            i.fa.fa-angle-right
                      // /.Card content
                    // /.Card
                  // Grid column
                // /Grid row
            // /.Card
            section.text-center.text-md-left
              // Author box
              .card.card-body
                .row
                  // Avatar
                  .col-12.col-sm-2.mb-md-0.mb-3
                    img.img-fluid.rounded-circle(src='http://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg', alt='sample-image')
                  // Author Data
                  .col-12.col-sm-10
                    p
                      strong Jimmy Brown
                    .personal-sm
                      a.pr-2.fb-ic
                        i.fa.fa-facebook  
                      a.p-2.tw-ic
                        i.fa.fa-twitter  
                      a.p-2.gplus-ic
                        i.fa.fa-google-plus  
                      a.p-2.li-ic
                        i.fa.fa-linkedin  
                    p.dark-grey-text.article
                      | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                      | Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas libero, esse
                      | facere.
              // /.Author box
            // Comments
            section
              // Main wrapper
              .comments-list.text-center.text-md-left
                .text-center.my-5
                  h3.font-weight-bold
                    | Comments
                    span.badge.indigo 3
                // First row
                .row.mb-5
                  // Image column
                  .col-sm-2.col-12.mb-3
                    img.avatar.rounded-circle.z-depth-1-half(src='https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg', alt='sample image')
                  // /.Image column
                  // Content column
                  .col-sm-10.col-12
                    a
                      h5.user-name.font-weight-bold John Doe
                    .card-data
                      ul.list-unstyled
                        li.comment-date.font-small
                          i.fa.fa-clock-o
                          |  05/10/2015
                    p.dark-grey-text.article
                      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                      | ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                  // /.Content column
                // /.First row
                // Second row
                .row.mb-5
                  // Image column
                  .col-sm-2.col-12
                    img.avatar.rounded-circle.z-depth-1-half(src='https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg', alt='sample image')
                  // /.Image column
                  // Content column
                  .col-sm-10.col-12.mb-3
                    a
                      h5.user-name.font-weight-bold Lily Brown
                    .card-data
                      ul.list-unstyled
                        li.comment-date.font-small
                          i.fa.fa-clock-o
                          |  05/10/2015
                    p.dark-grey-text.article
                      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                      | ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                  // /.Content column
                // /.Second row
                // Third row
                .row.mb-5
                  // Image column
                  .col-sm-2.col-12.mb-3
                    img.avatar.rounded-circle.z-depth-1-half(src='https://mdbootstrap.com/img/Photos/Avatars/img (28).jpg', alt='sample image')
                  // /.Image column
                  // Content column
                  .col-sm-10.col-12
                    a
                      h5.user-name.font-weight-bold Martha Smith
                    .card-data
                      ul.list-unstyled
                        li.comment-date.font-small
                          i.fa.fa-clock-o
                          |  05/10/2015
                    p.dark-grey-text.article
                      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                      | ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                  // /.Content column
                // /.Third row
              // /.Main wrapper
            // /Comments
            // Section: Leave a reply (Not Logged In User)
            section.mb-4.mt-4
              // Grid row
              .row
                // Grid column
                .col-lg-12
                  // Leave a reply form
                  .reply-form
                    h3.text-center.h3.pt-5 Leave a reply 
                    p.text-center (Not Logged In User)
                    h5.font-weight-bold.d-flex.align-items-center.justify-content-center
                      | Sign up with:
                      span
                        // Facebook
                        a.btn-floating.btn-small.btn-fb(type='button')
                          i.fa.fa-facebook
                        // Twitter
                        a.btn-floating.btn-small.btn-tw(type='button')
                          i.fa.fa-twitter
                        // Google +
                        a.btn-floating.btn-small.btn-gplus(type='button')
                          i.fa.fa-google-plus
                      | or:
                    .md-form
                      i.fa.fa-user.prefix.grey-text
                      input#replyForm-name.form-control(type='text')
                      label(for='replyForm-name') Your name
                    .md-form
                      i.fa.fa-envelope.prefix.grey-text
                      input#replyForm-email.form-control(type='text')
                      label(for='replyForm-email') Your email
                    .md-form
                      i.fa.fa-home.prefix.grey-text
                      input#replyForm-web.form-control(type='text')
                      label(for='replyForm-web') Your website
                    .md-form
                      i.fa.fa-pencil.prefix.grey-text
                      textarea#replyForm-mess.md-textarea.form-control(type='text', rows='3')
                      label(for='replyForm-mess') Your message
                    .text-center.mt-4
                      button.btn.btn-indigo.btn-rounded Submit
                  // /.Leave a reply form
                // Grid column
              // Grid row
            // /Section: Leave a reply (Not Logged In User)
          // / Post
        // / Magazine
    // / Main layout
    // Footer
    footer.page-footer.text-center.text-md-left.stylish-color-dark.pt-0.pl-0
      div(style='background-color: #cc3f58;')
        .container
          // Grid row
          .row.py-4.d-flex.align-items-center
            // Grid column
            .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
              h6.mb-0.white-text Get connected with us on social networks!
            // Grid column
            // Grid column
            .col-md-6.col-lg-7.text-center.text-md-right
              // Facebook
              a.p-2.m-2.fb-ic.ml-0
                i.fa.fa-facebook.white-text.mr-lg-4  
              // Twitter
              a.p-2.m-2.tw-ic
                i.fa.fa-twitter.white-text.mr-lg-4  
              // Google +
              a.p-2.m-2.gplus-ic
                i.fa.fa-google-plus.white-text.mr-lg-4  
              // Linkedin
              a.p-2.m-2.li-ic
                i.fa.fa-linkedin.white-text.mr-lg-4  
              // Instagram
              a.p-2.m-2.ins-ic
                i.fa.fa-instagram.white-text.mr-lg-4  
            // Grid column
          // Grid row
      // Footer Links
      .container.mt-5.mb-5.text-center.text-md-left
        .row.mt-3
          // First column
          .col-md-3.col-lg-4.col-xl-3.mb-r
            h6.title.font-bold
              strong Company name
            hr.pink.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
            p
              | Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
              | adipisicing elit.
          // /.First column
          // Second column
          .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-r
            h6.title.font-bold
              strong Products
            hr.pink.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
            p
              a(href='#!') MDBootstrap
            p
              a(href='#!') MDWordPress
            p
              a(href='#!') BrandFlow
            p
              a(href='#!') Bootstrap Angular
          // /.Second column
          // Third column
          .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-r
            h6.title.font-bold
              strong Useful links
            hr.pink.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
            p
              a(href='#!') Your Account
            p
              a(href='#!') Become an Affiliate
            p
              a(href='#!') Shipping Rates
            p
              a(href='#!') Help
          // /.Third column
          // Fourth column
          .col-md-4.col-lg-3.col-xl-3
            h6.title.font-bold
              strong Contact
            hr.pink.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
            p
              i.fa.fa-home.mr-3
              |  New York, NY 10012, US
            p
              i.fa.fa-envelope.mr-3
              |  info@example.com
            p
              i.fa.fa-phone.mr-3
              |  + 01 234 567 88
            p
              i.fa.fa-print.mr-3
              |  + 01 234 567 89
          // /.Fourth column
      // /.Footer Links
      // Copyright
      .footer-copyright.text-center.py-3
        .container-fluid
          | © 2018 Copyright: 
          a(href='https://mdbootstrap.com/bootstrap-tutorial/', target='_blank')  MDBootstrap.com 
      // /.Copyright
    // /.Footer
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='../../js/jquery-3.2.1.min.js')
    // Tooltips
    script(type='text/javascript', src='../../js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='../../js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='../../js/mdb.min.js')
