.gino_enabled-review{
    display:none;
}
.field-gino_megamenu {
    clear: both;
    padding-top: 10px;
}
.gino_criteria {
    margin-bottom: 40px;
}
#tinymce blockquote {
    font-style: italic;
    padding: 8px 12px;
    background: #f8f8f8;
    clear: both;
}