.container.bootstrap.snippet
      .row
        .col-md-12
          .blog-comment#comments
            h3= translation.frontpage.comments
            p#comments-empty= translation.frontpage.no_comments
            