.container.bootstrap.snippet
      .row
        .col-lg-8.col-md-10.mx-auto
          .blog-comment#comments
            h3= translation.frontpage.comments
            p#comments-empty= translation.frontpage.no_comments
            