if !user
    include steemit-box.pug
else
    h1.topic-title.part Leave reply
    form.add.comment#comment-form
        label(for="comment-body")= "Comment" + ':'
        textarea#comment(class="add-comment-area" name="comment_body")
        input(type="hidden", name="permlink", value= permlink)
        input(type="hidden", name="title", value= title)
        input(type="hidden", name="parent_author", value="")
        button(class="add-comment-button" type="submit")#submit-contact
            .add-comment-text
                span(class="oi oi-comment-square" title="icon comment")
                span Send reply

.comment-area-box#comments
    h1.topic-title.part Comments
    comments-section
