extends website

block header
    header.masthead(style="background-image: url('/img/home-bg.jpg')")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .post-heading
              h1 Error 404
              p The page you are looking for does not exist. Try another one or visit main page.
