footer
    .container
        .down-footer
            ul.list-footer
                li
                    a(href="/") Home
            p 
                | © 
                = blog.website_credits
                |  powered by 
                a(href="https://engrave.website") ENGRAVE