footer
    .container
        .down-footer
            ul.list-footer
                li
                    a(href="/") #{translation.frontpage.home} 
            p 
                | © 
                = blog.website_credits
                |  #{translation.frontpage.powered_by} 
                a(href="https://engrave.website") ENGRAVE