doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title ENGRAVE - Steem powered blogging system
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/mdb.min.css', rel='stylesheet')
    link(href='/css/style.min.css', rel='stylesheet')
    style(type='text/css').
      @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
      }
      }
  body
  
    include partials/menu.pug
   
    block body
    
    include partials/footer.pug
    
    script(type='text/javascript', src='js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='js/popper.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/mdb.min.js')
    script(type='text/javascript').
      new WOW().init();
