extends ../website

block content
    .row
        .col-lg-8
            .about-box
                .title-section
                    h1 Jak zarabiać na portalu Głodni Wiedzy
                    
                //- img(src="https://www.crypto-economy.net/wp-content/uploads/2018/01/steem1.png", alt="")
                
                p Dzięki temu, że portal Głodni Wiedzy oparty jest na blockchainie Steem, zarówno autorzy tekstów, jak i głosujący mogą w prosty sposób monetyzować swoje działania. Autorzy dostają wynagrodzenie za napisane artykuły, a głosujący za sam fakt głosowania. Poniższy tekst wyjaśnia podstawowe zasady funkcjonowania blockchainu Steem i tego jak wyglądają rozliczenia pomiędzy portalem Głodni Wiedzy a autorami publikowanych artykułów.

                h2 Czym jest Steem?

                p Steem jest otwartoźródłowym projektem rozproszonej bazy danych (blockchain). Jest także jednocześnie nazwą tokenu, który funkcjonuje w tej sieci i na którym oparte są wszelkie rozliczenia. W odróżnieniu od innych projektów kryptowalutowych, np. bitcoin, czy ethereum, tokeny STEEM nie są rozdawane górnikom za ich wykopywanie. W świecie Steem, każdego dnia generowana jest pewna pula tokenów, która rozdzielana jest pomiędzy autorów treści i głosujących na te treści. Oznacza to, że w uproszczniu więcej tokenów trafi do osób tworzących lepszej jakości artykuły. 

                h2 Skąd się biorą wartości głosów?

                p Otrzymane tokeny STEEM można spożytkować na różne sposoby. Poza przelaniem na giełdę kryptowalut i ich spieniężenie, można je zainwestować we własne konto. Ilość posiadanej (zainwestowanej) kryptowaluty Steem oznacza się jako Steem Power. Określa ona moc konta i im ta wartość jest wyższa, tym konto może "przekazać" autorowi większą część wspólnej puli przy głosowaniu. Dobrą analogią jest posiadanie akcji firmy: czym więcej ich posiadamy, tym większe znaczenie ma nasz głos oraz tym bardziej powinno nam zależeć na firmie, więc głosujemy tylko na dobre treści.

                p Konta z większą ilością SP (Steem Power) posiadają więcej warte głosy (up-vote). Przy okazji dostają także większą część nagrody z artykułu, ponieważ jest ona rozdawana proporcjonalnie do siły głosu w SP. Jako, że posiadanie tokenu STEEM niesie za sobą wymierne korzyści, są ludzie, którzy chcą go kupić lub sprzedać po atrakcyjnej cenie. Powoduje to, że posiada on realną wartość wyrażoną w dolarach.

                h2 Ile zarobię publikując artykuły na Głodnych Wiedzy?

                p To zależy od zainteresowania czytelników, tego jak dużo głosów (up-vote) dostanie artykuł i jakiej mocy będą to głosy. Ze względu na zróżnicowane poziomy Steem Power, zdarza się, że artykuł z mniejszą liczbą głosów efektywnie zarobi więcej. Są w polskiej społeczności konta, które jednym głosem potrafią "dać" nawet $10, czy $30. Jednak zdecydowana większość posiada znacznie słabsze konta, dające centy. Ale duża ich ilość nadal przekłada się na porządne wynagrodzenie za artykuł.

                p Wartość wyświetlająca się przy każdym artykule nie trafia bezpośrednio do portfela autora tekstu. System jest trochę bardziej skomplikowany, ale po zapoznaniu się ze szczegółami nie ma w nim nic niezwykłego. Efektywnie kwota trafiająca na konto autora jest zbliżona do wartości na stronie.

                p Zacznąć należy od tego, że kwota wyświetlana zarówno na Głodnych Wiedzy, jak i na każdym froncie opartym o Steem nie jest kwotą w dolarach amerykańskich. To ilość tokenów, które artykuł zarobił od momentu dodania. Pełne rozliczenie następuje po 7 dniach.

                p Wartość widziana na stronie rozdzielana jest pomiędzy autora tekstu, a głosujących na ten artykuł. 25% kwoty idzie do głosujących, a 75% idzie do autora. 

                p Część autora dzielona jest z kolei na dwa tokeny: SBD oraz STEEM (w postaci Steem Power) równo po połowie. Z tą różnicą, że SBD jest zamieniane w proporcji 1:1, a SP po kursie danego tokenu. Oznacza to, że jeśli autor artykułu musi otrzymać $10, to będzie to 5 SBD oraz 1,25 STEEM (po kursie STEEM/USD z dnia 07.05.2018). Wszystkie zarobione przez artykuł tokeny SBD trafiają na konto prawdziwego autora tekstu, a SP zostaje na koncie @glodniwiedzy. 
                
                img(src="https://i.imgur.com/P8x41pm.png", alt="Rozliczenie przykładowego artykułu")

                p Powyżej widać rozliczenie przykładowego artykułu. Na stronie widniała kwota $40,70. Na tę kwotę składała się część dla głosujących (Curator Payout), wynosząca łącznie $8,927 oraz część dla konta dodającego artykuł (Author Payout) w wysokości $31,773. Ta druga kwota zostałą rozdzielona na SBD oraz SP. Prawdziwy autor tekstu, w tym przypadku użytkownik @nicniezgrublem, otrzymał 15,884 SBD, co na tamten moment oznaczało ok 60 dolarów amerykańskich, czyli ok 213 zł.

                p Niektóre artykuły zarabiają kilkaset złotych, inne tylko kilka. Warto jednak starać się tworzyć dobre treści, gdyż takie zawsze są doceniane.

                h2 Czy warto głosować na treści innych?

                p Zdecydowanie tak, ponieważ aż 25% wynagrodzenia za artykuł trafia do głosujących. Należy jednak pamiętać, że nie warto głosować na co popadnie. Zdecydowanie lepiej jest rozdysponować swoją moc konta pomiędzy kilka dobrych artykułów dziennie, niż klikać wszystko jak leci. Spowodowane jest to faktem, że moc głosu (Voting Power) spada po każdym głosie o 2% i ten niedobór regeneruje się dopiero po 24 h.

                p W razie szczegółowych pytań, na które odpowiedzi nie znajdują się na tej stronie, prosimy o kontakt poprzez skrzynkę mailową: 
                    a(href="mailto:redakcja@glodniwiedzy.pl") redakcja@glodniwiedzy.pl


        .col-lg-4.sidebar-sticky
            include ../partials/sidebar.pug