extends website.pug

block body
  main.mt-5.pt-4
    .container
      h3.my-5.h3.text-center Choose your tier
      .row.d-flex.justify-content-center
        .col-md-8.text-center
          p.mb-5
            | You can choose from three options. Each of them have different features but the best one will take more percentage from your posts' rewards.
      .row.text-center.wow.fadeIn
        .col-lg-4.col-md-12.mb-4
          .card
            .card-header
              h4
                strong Basic
            .card-body
              h3.card-title.pricing-card-title.mb-4
                | 10%
                small.text-muted  of your rewards
              ol.list-unstyled.mb-4
                li
                  | No deposit
                  i.fa.fa-check.green-text.ml-1
                hr
                li
                  | Blog on your own domain
                  i.fa.fa-close.red-text.ml-1
                hr
                li
                  | Free domain for one year
                  i.fa.fa-close.red-text.ml-1
              a.btn.btn-lg.btn-block.btn-primary(href='/authorize/tier/basic') Get started

        .col-lg-4.col-md-6.mb-4
          .card
            .card-header
              h4
                strong Standard
            .card-body
              h3.card-title.pricing-card-title.mb-4
                | 12%
                small.text-muted  of your rewards
              ol.list-unstyled.mb-4
                li
                  | No deposit
                  i.fa.fa-check.green-text.ml-1
                hr
                li
                  | Blog on your own domain
                  i.fa.fa-check.green-text.ml-1
                hr
                li
                  | Free domain for one year
                  i.fa.fa-close.red-text.ml-1
              a.btn.btn-lg.btn-block.btn-primary(href='/authorize/tier/standard') Get started
        .col-lg-4.col-md-6.mb-4
          .card
            .card-header
              h4
                strong Extended
            .card-body
              h3.card-title.pricing-card-title.mb-4
                | 15%
                small.text-muted  of your rewards
              ol.list-unstyled.mb-4
                li
                  | No deposit
                  i.fa.fa-check.green-text.ml-1
                hr
                li
                  | Blog on your own domain
                  i.fa.fa-check.green-text.ml-1
                hr
                li
                  | Free domain for one year
                  i.fa.fa-check.green-text.ml-1
              a.btn.btn-lg.btn-block.btn-primary(href='/authorize/tier/extended') Get started
      .row.d-flex.justify-content-center
        .col-md-8.text-center
          p.mb-5
            | You can upgrade your tier in any time. Just contact us.