extends website.pug

block body

  block link
    -var selected='explore'

  append scripts
    script(type='text/javascript', src='/js/explore.js')

  main
    .container
      section.mt-5.wow.fadeIn
      hr.mb-5
      section
        h2.my-5.h3.text-center Latest blogs
        .row.features-small.mt-5.wow.fadeIn#blog-list
          each blog in blogs
            .col-xl-3.col-lg-6
              .row
                .col-2
                  i.fa.fa-globe.fa-2x.mb-1.indigo-text(aria-hidden='true')
                .col-10.mb-2.pl-3
                  h5.feature-title.font-bold.mb-1= blog.blog_title
                  p.grey-text.mt-2= blog.blog_slogan
                  p.grey-text.mt-2
                    a(href="https://" + blog.domain )= blog.domain
        .row.features-small.mt-5.wow.fadeIn
          .col-md-12.text-center
            button.btn.btn-grey.btn-md.waves-effect.waves-light#load-more Load more