extends website.pug

block body
  main.mt-5.pt-4
    .container
      h3.my-5.h3.text-center You are about to create your own blog
      .row.d-flex.justify-content-center

      .row.text-center.wow.fadeIn.justify-content-md-center
        
        .col-lg-4.col-md-12.mb-4
          .card
            .card-header
              h4
                strong Blog on subdomain
            .card-body
             
              ol.list-unstyled.mb-4
                li
                  | If you are a hobbyist blogger you can use our domain to create blog. You may choose your blog address and it may looks like <strong>youraddress.engrave.website</strong>
                
              a.btn.btn-lg.btn-block.btn-primary(href='/authorize/tier/basic') Create blog

        .col-lg-4.col-md-6.mb-4
          .card
            .card-header
              h4
                strong I own a domain
            .card-body

              ol.list-unstyled.mb-4
                li
                  | If you own a domain, you can use it to create blog with ENGRAVE platform. You just need to change your DNS settings which takes up to a minute at max.
              a.btn.btn-lg.btn-block.btn-primary(href='/authorize/tier/standard') Create blog
        
        .col-lg-4.col-md-6.mb-4
          .card
            .card-header
              h4
                strong I want to buy a domain
            .card-body

              ol.list-unstyled.mb-4
                li
                  | If you want to start a professional blog, you can buy a new domain easily with ENGRAVE. Choose domain and pay 10 STEEM or 10 SBD using Steemconnect.
              a.btn.btn-lg.btn-block.btn-primary(href='/authorize/tier/extended') Create blog
      .row.d-flex.justify-content-center
        .col-md-8.text-center
          p.mb-5 You can upgrade your tier in any time. ENGRAVE will take 15% commision on every post added through this platform.