extends website.pug

block body
    .content
        .container-fluid
            .row
                .col-md-8
                    .card
                        .card-header
                            h4.card-title Cooperation Market
                            p.card-category Soon you will be able to sell/rent your blog space for other bloggers ads.
                        .card-body