extends website

block header
    header.masthead(style="background-image: url('/img/home-bg.jpg')")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .post-heading
              h1 Błąd 404
              p Wygląda na to, że strona której szukasz nie istnieje. Spróbuj użyć wyszukiwarki lub przejdź na stronę główną.
