extends website

append scripts
  script(src="//cdn.steemjs.com/lib/latest/steem.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" async)
  if config.frontpage_language == 'pl'
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/pl.js" async)
  else 
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/en.js" async)
  script(src="//cdn.jsdelivr.net/npm/marked/marked.min.js" async)
  script(src="/js/single.js")

block header
    input(type='hidden', id='permlink', value= permlink)
    input(type='hidden', id='editorial', value= config.steem_username)
    if user
      input(type='hidden', id='logged_user', value= user.name)
    header.masthead(style= (image) ? "background-image: url('" + image + "')" : "")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .post-heading
              h1= title
              h2.subheading= body_abbr + '...'
              span.meta
                if config.author_name
                  = translation.frontpage.posted_by + ' '
                  a()= config.author_name
                  | , 
                span(title= moment.utc(date).local().format('LLL'))= moment.utc(date).local().fromNow()
                = ', ' + translation.frontpage.comments_count.toLowerCase() + ": "
                span= comments_quantity
    article
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            != body
    hr
    include partials/comments.pug
    include partials/voting-modal.pug
