.navbar-nav > li > a.space:before {
    background: #dd0000; 
}
li a.nav-link.space + .mega-posts-menu {
  	border-top: 2px solid #dd0000; 
}
a.category-space {
  	background: #dd0000; 
}.navbar-nav > li > a.technology:before {
    background: #0033ff; 
}
li a.nav-link.technology + .mega-posts-menu {
  	border-top: 2px solid #0033ff; 
}
a.category-technology {
  	background: #0033ff; 
}.navbar-nav > li > a.science:before {
    background: #445566; 
}
li a.nav-link.science + .mega-posts-menu {
  	border-top: 2px solid #445566; 
}
a.category-science {
  	background: #445566; 
}