extends website

block content
    .container.box-article
        h1.topic-title.part= "Redaktorzy"
        .row
            .col-lg-8.col-md-12
                each author in authors
                    include partials/author-box
            .col-lg-4
                include partials/featured-right-box.pug
