extends website

append scripts
    script(src="/js/main.js")

block content
    .container.box-article
        h1.topic-title.part Authors page
            .col-lg-8.col-md-12
                include partials/author-box
            .col-lg-4
                include partials/featured-right-box.pug
