//- extends website

//- block content
.error-box
  h2 Coś poszło nie tak
  p Chyba admin coś zepsuł. Albo za bardzo kombinujesz ;) Odśwież stronę za chwilę albo przejdź na inny link, bo tutaj chyba nie ma tego, czego szukasz ;)
  p= JSON.stringify(message, null, 3)
  p= JSON.stringify(error, null, 3)