extends website

block content
    .container.box-article
        .error-box
            .error-banner
                h2 Coś poszło nie tak
                pre= error
                pre= message

    .empty-field
