extends website

append scripts
    script(src="/js/main.js")

block content
    meta(name="description", content= blog.opengraph_default_description)
    input(type="hidden" value=blog.username)#author_indicator

    include partials/featured.pug

    if latest && latest.length
        .posts-block.standard-box
            .title-section
                h1= "New  articles"
            .row#posts
                each item in latest
                    include partials/box.pug
        
            if latest.length
                .center-button
                    a(href="#").load-more= "Load more"
    else
        include partials/empty.pug