extends website

append scripts
    script(src="/dashboard/js/add.js")
    script(src="/dashboard/js/parsley.min.js")
    script(src="/dashboard/js/i18n/pl.js")
    script(src="/dashboard/js/markdown.js")
    script(src="/dashboard/js/to-markdown.js")
    script(src="/dashboard/js/bootstrap-markdown.js")

block content
    .page-title
        .title_left
            h3 Dodaj nowy artykuł
        .title_right
    .clearfix
    .row
        .x_panel
            h2 Artykuł zostanie dodany do blockchain po sprawdzeniu przed redaktora naczelnego
            .clearfix
            form(data-parsley-validate="").form-horizontal.form-label-left#article
                input(type="hidden" name="_id" id="_id" value= (article && article._id) ? article._id : "")
                .x_content
                    label.control-label Tytuł artykułu:
                    input(name="title" type="text" placeholder="Tytuł artykułu" required="" minlength="30" value= (article && article.title) ? article.title : "").form-control
                .x_content
                    label.control-label Treść:
                    textarea(name="body" rows="20" placeholder="Treść artykułu" required="" minlength="250" data-provide="markdown").form-control#article-body
                        if article && article.body
                            = article.body
                .x_content
                    label.control-label Miniatura (koniecznie w proporcjach 2:1, można wrzucić na imgur.com):
                    input(name="image" type="url" placeholder="https://..." required="" value= (article && article.image) ? article.image : "").form-control
                .x_content  
                    label.control-label Kategoria:
                    select(name="category").form-control
                        each nav_name, nav in config.categories
                            option(selected= (article && article.category === nav_name))= nav_name
                .x_content
                    label.control-label Dodatkowe tagi (bez przedrostka "pl-", oddzielone spacją, najważniejsze tagi jak pl-artykuly i polish zostaną dodane automatycznie)
                    input(name="tags" type="text" placeholder="..." value= (article && article.tags) ? article.tags : "").form-control
                .x_content
                    label.control-label Nazwa źródła:
                    input(name="source_title" type="text" placeholder="np. Electrek" value= (article && article.source_title) ? article.source_title : "").form-control
                .x_content
                    label.control-label Link do źródła:
                    input(name="source_link" type="text" placeholder="https://..." value= (article && article.source_link) ? article.source_link : "").form-control
                .x_content
                    button.btn.btn-success Wyślij artykuł do przeglądu
                    button#preview-btn.btn.btn-info Podgląd na stronie
                    button.btn.btn-link#clear-btn Wyczyść
                    