extends website

append scripts
    script(src="/dashboard/js/authors.js")

block content
    .row
        .col-md-6
            .x_panel
                .x_title
                    h2 Aktywni autorzy
                    .clearfix
                .x_content
                    ul.list-unstyled.msg_list(style="font-size: 1.3em")
                        each author in editors
                            li
                                a
                                    span.image
                                        img(src='https://steemitimages.com/u/' + author.username + '/avatar', alt='img')
                                    span
                                        span= author.username
                                        span.time= author.editor_email
                                    span.message
                                        = author.editor_interests

        .col-md-4
            .x_panel
                .x_title
                    h2 Zgłoszenia nowych użytkowników
                    .clearfix
                .x_content
                    ul.list-unstyled.msg_list(style="font-size: 1.3em")
                        each author in requested
                            li
                                a
                                    span.image
                                        img(src='https://steemitimages.com/u/' + author.username + '/avatar', alt='img')
                                    span
                                        span= author.username
                                        span.time= author.editor_email
                                    span.message
                                        = author.editor_interests
                                .btn-group-vertical.time
                                    button(id="acc-" + author.username).btn.btn-default.btn-xs.editor-accept-button Akceptuj
                                    button(id="rej-" + author.username).btn.btn-danger.btn-xs.editor-reject-button Odrzuć