meta(name="viewport" content="width=500, initial-scale=1")
head
    link(href="/dashboard/css/bootstrap.min.css" rel="stylesheet")
    link(href="/dashboard/css/custom.min.css" rel="stylesheet")
    link(href="/dashboard/css/font-awesome.min.css" rel="stylesheet")
    
body.login
    .login_wrapper
        .animate.form.login_form
            section.login_content
                form
                    h1 Logowanie
                    a(href="/authorize").btn.btn-default.submit ZALOGUJ SIĘ ZA POMOCĄ STEEMCONNECT
                .separator
                    p ©2018 Głodni Wiedzy