extends website

append scripts
    script(src="/dashboard/js/profile.js")

block content
    .page-title
        .title_left
            h3 Ustawienia
        .title_right
    .clearfix
    .row
        .x_panel
            h2 Dane autora wyświetlające się pod artykułem
            .clearfix
            form(data-parsley-validate="").form-horizontal.form-label-left#user-details
                .x_content
                    label.control-label Imię:
                    input(name="name" type="text" value= (dbuser && dbuser.name) ? dbuser.name : "").form-control
                .x_content
                    label.control-label Nazwisko:
                    input(name="surname" type="text" value= (dbuser && dbuser.surname) ? dbuser.surname : "").form-control
                .x_content
                    label.control-label Króka biografia:
                    textarea(name="bio" rows="4" minlength="20" data-provide="markdown").form-control#dbuser-body
                        if dbuser && dbuser.bio
                            = dbuser.bio
                .x_content
                    label.control-label Awatar:
                    input(name="image" type="url" placeholder="https://..." value= (dbuser && dbuser.image) ? dbuser.image : "").form-control
                
                .x_content
                    label.control-label E-mail:
                    input(name="email" type="text" value= (dbuser && dbuser.email) ? dbuser.email : "").form-control
                .x_content
                    label.control-label Facebook:
                    input(name="facebook_url" type="text" value= (dbuser && dbuser.facebook_url) ? dbuser.facebook_url : "").form-control
                .x_content
                    label.control-label Twitter:
                    input(name="twitter_url" type="text" value= (dbuser && dbuser.twitter_url) ? dbuser.twitter_url : "").form-control
                .x_content
                    label.control-label Instagram:
                    input(name="instagram_url" type="text" value= (dbuser && dbuser.instagram_url) ? dbuser.instagram_url : "").form-control
                .x_content
                    label.control-label LinkedIn:
                    input(name="linkedin_url" type="text" value= (dbuser && dbuser.linkedin_url) ? dbuser.linkedin_url : "").form-control
                
                .x_content
                    button.btn.btn-success Aktualizuj
                    button.btn.btn-link#clear-btn Wyczyść