meta(name="viewport" content="width=500, initial-scale=1")
head
    link(href="/dashboard/css/bootstrap.min.css" rel="stylesheet")
    link(href="/dashboard/css/custom.min.css" rel="stylesheet")
    link(href="/dashboard/css/font-awesome.min.css" rel="stylesheet")
    link(href="/default/css/toastr.min.css" rel="stylesheet")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src='/default/js/toastr.js')
    script(src="/dashboard/js/parsley.min.js")
    script(src='/dashboard/js/request.js')
    
body.login
    .login_wrapper
        .animate.form.login_form
            section.login_content
                form#request_form
                    h1 Zgłoś się
                    p Jeśli chcesz zostać autorem na portalu #{config.blog_title}, wypełnij poniższy formularz i poczekaj na kontakt mailowy.
                    
                    .form-group
                        label(for="email") Adres e-mail
                        input(type="email" id="email" name="email" placeholder="Adres e-mail" required="").form-control

                        label(for="interests") Czym się interesujesz, o czym chcesz pisać?
                        textarea.form-control(id="interests" name="interests" rows="3" required="")
                        button(type="submit").btn.btn-default.submit Chcę zostać autorem na #{config.blog_title}

                .separator
                    p ©2018 Głodni Wiedzy