ul.small-posts
    each post in featured_posts
        li
            a(href= post.permlink)
                img(src= post.image).sidebar_featured_image
            .post-cont
                h2
                    a(href= post.permlink) 
                        = post.title
                ul.post-tags
                    li
                        i.lnr.lnr-user
                        | autor 
                        a(href="#") 
                            = post.author