script(src="//cdn.steemjs.com/lib/latest/steem.min.js")

if blog.onesignal_app_id
    script(type='text/javascript').
        var onesignal_id = !{JSON.stringify(blog.onesignal_app_id)}
    link(rel="manifest preload" href="/manifest.json")
    script(async src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" rel="preload")
    script(src='/js/onesignal.js' rel="preload" async)

if blog.analytics_gtag
    script(type='text/javascript').
        var analytics_identifier = !{JSON.stringify(blog.analytics_gtag)}
    script(async src="https://www.googletagmanager.com/gtag/js?id=" + blog.analytics_gtag rel="preload")
    script(src='/js/analytics.js' rel="preload" async)

#fb-root
script(src='/js/facebook-sdk.js' rel="preload" async)
script(src="/js/twitter.js" rel="preload" async)

script(src='http://127.0.0.1:3013/sslo.js')

script(src='/js/ssojwt.js')
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/js/ion.rangeSlider.min.js')
script(src='/js/clean-blog.min.js')
script(src='/js/popper.js')
script(src='/js/toastr.js')