footer.page-footer.text-center.font-small.mt-4.wow.fadeIn
  .pt-4
    a.btn.btn-outline-white(href='/create', role='button')
      | Create your own blog
      i.fa.fa-graduation-cap.ml-2
  hr.my-4
  .pb-4
    a(href='https://www.facebook.com/engrave.website')
      i.fa.fa-facebook.mr-3
    a(href='https://twitter.com/engrave_website')
      i.fa.fa-twitter.mr-3
    a(href='https://github.com/wise-team/engrave')
      i.fa.fa-github.mr-3
      
  .footer-copyright.py-3
    | © 2018 Copyright:
    a(href='https://engrave.website')  ENGRAVE